langgraph==0.2.45
langchain==0.3.14
langchain-openai==0.2.11
langchain-community==0.3.14
langchain-core==0.3.28
faiss-cpu==1.14.2
openai==1.51.2
reportlab==4.2.2
python-dotenv==1.0.1
pydantic==2.9.2
numpy==1.26.4
tiktoken==0.7.0
requests==2.32.3
streamlit==1.35.0
httpx==0.28.1
json-repair==0.29.0
langsmith==0.1.163
aiohttp==3.10.5
SQLAlchemy==2.0.35
tenacity==8.5.0
